---
const { teksAtas, teksBawah } = Astro.props;
---

<div class="mb-3" id="info-total">
  <h6 class="atas" style="color: black;">{teksAtas}</h6>
  <h6 class="bawah">{teksBawah}</h6>
</div>

<style>
  
  h6{
    background: white;
    padding:8px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    position: relative;
  }
  
  #info-total{
    text-align:center
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    align-items: center;
    justify-items: center;
  }
  
  #info-total, .lalu .atas{
    color: black;
    margin-bottom: 0;
  }
  
  #info-total, .lalu .bawah{
    color: #511F82;
    margin-top: 0;
  }
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  h6::after, h6::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 105%;
    background-image: conic-gradient(
    from var(--angle),
    #3245ff,
    #bc52ee,
    #9c27b0,
    #3245ff
    );
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 20px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }
  
  h6::before{
    filter: blue(1.5rem);
    opacity: 0.5;
  }
  
  @keyframes spin{
    from{
      --angle: 0deg;
    }to{
      --angle: 360deg;
    }
  }
	
</style>