---
const { judul = "-", tambahan } = Astro.props;
---

<h3 class=`${tambahan}`>{judul}</h3>

<style>
  h3{
    background:white;
    text-align: center;
    height:fit-content;
    display:grid;
    place-items: center;
  }
</style>