---
const { judul } = Astro.props;
---

<h3>{judul}</h3>

<style>
  h3{
    margin-top:5vw;
    margin-bottom: 5vw;
    background:white;
    text-align: center;
    height:fit-content;
    display:grid;
    place-items: center;
  }
</style>