---
const { tambahan } = Astro.props;
---

<h6 class=`${tambahan}`>-</h6>

<style>
  h6{
    border:1px solid white;
    background:white;
    color:white;
    text-align: center;
    height:fit-content;
    display:grid;
    place-items: center;
  }
</style>