---
import LinkEpik from '../components/LinkEpik.astro';
import JudulBesar from '../components/JudulBesar.astro';
const { judul, tujuanLink } = Astro.props;
---
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Halaman Lainnya</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <a 
    class="btn link-offcanvas"  
    style={`color:white;`}
    href="/"
    role="button">
    Porseni XVII
    </a>
    <a 
    class="btn link-offcanvas"  
    style={`color:white;`}
    href="/admin"
    role="button">
    Admin
    </a>
    <a 
    class="btn link-offcanvas"  
    style={`color:white;`}
    href="/riwayat"
    role="button">
    Riwayat
    </a>
    <a 
    class="btn link-offcanvas"  
    style={`color:white;`}
    href="/catatanSistem"
    role="button">
    Catatan Sistem
    </a>
  </div>
</div>

<div id="header">
  <button class="btn btn-primary" id="tombol-offcanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Halaman</button>

  <JudulBesar judul={judul}/>
  
  <LinkEpik teks="Kembali" tujuanLink={tujuanLink} width="20vw"/>
</div>
  
<style>
  
  #header{
    margin-top: 5vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    align-items:center;
    place-items;center;
  }
  
  .btn {
    text-align:center;
    height:fit-content;
    width:20vw;
    padding: 8px 8px;
    font-size:15px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}

.offcanvas-body{
  display:grid;
  grid-template-rows:50px 50px 50px 50px;
}

.link-offcanvas{
  width:100%;
  height:fit-content
}
  
</style>