---
import Layout from '../layouts/Layout.astro';
import HeaderAdmin from '../layouts/HeaderAdmin.astro';
import Kolom2 from '../layouts/Kolom2.astro';
import JudulKecil from '../components/JudulKecil.astro';
import TombolEpik from '../components/TombolEpik.astro';
import Kotak from '../components/Kotak.astro';
import InfoLalu from '../components/InfoLalu.astro';

---

<Layout title="Ubah Riwayat">
  <HeaderAdmin judul="Ubah Riwayat" tujuanLink="/riwayat" />
  
  <JudulKecil judul="#1" tambahan="mt-5 mb-3 py-2"/>
  
  <div id="container-utama">
    <div class="container-baris">
      <div class="container-barang">
        <p class="my-auto">Chocolatos</p>
        <p class="my-auto">X</p>
        <p class="my-auto">1</p>
      </div>
      <div class="container-tombol">
        <TombolEpik teks="Ubah" width="15vw"/>
        <TombolEpik teks="Hapus" width="15vw"/>
      </div>
    </div>
    <Kotak tambahan="my-3"/>
    <div class="container-baris">
      <div class="container-barang">
        <p class="my-auto">Chocolatos</p>
        <p class="my-auto">X</p>
        <p class="my-auto">1</p>
      </div>
      <div class="container-tombol">
        <TombolEpik teks="Ubah" width="15vw"/>
        <TombolEpik teks="Hapus" width="15vw"/>
      </div>
    </div>
    <Kotak tambahan="my-3"/>
    <div class="container-baris">
      <div class="container-barang">
        <p class="my-auto">Chocolatos</p>
        <p class="my-auto">X</p>
        <p class="my-auto">1</p>
      </div>
      <div class="container-tombol">
        <TombolEpik teks="Ubah" width="15vw"/>
        <TombolEpik teks="Hapus" width="15vw"/>
      </div>
    </div>
    <Kotak tambahan="my-3"/>
  </div>
  
  <Kolom2 justifyContent="space-around">
    <InfoLalu teksAtas="Total Harga" teksBawah="Rp. 100.000,00"/>
    <InfoLalu teksAtas="Total Barang" teksBawah="3"/>
  </Kolom2>
</Layout>

<style>
  #container-utama{
    color:white;
  }
  
  .container-baris{
    order:1px solid purple;
    display:grid;
    grid-template-columns: 2fr 1fr;
    pace-items: center;
    gap:3vw;
  }
  
  .container-barang{
    order:1px solid purple;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3vw;
  }
  
  p{
    border: 1px solid purple;
    border-radius:10px;
    display:grid;
    padding:4px 8px;
    place-items: center;
  }
  
  .container-tombol{
    order:1px solid purple;
    display:flex;
    justify-content: space-between;
  }

</style>